@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/Aller_Rg.ttf");
}

.mainScene {
    -fx-font-family: "SF Pro Display";
    -fx-font-size: 16;
}
.body{
    -fx-background-color: #FEFFC8;
}

.productPipeline {
    -fx-background-color: #AEFF88;
}